@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
 
:root {
  --theme-color:white;
  --theme-inverted-color:black;
  --theme-inverted-shadow: 0 4px 30px rgba(0, 0, 0, 0.131);
  background-color: var(--theme-color);
}

.dark {
  --theme-color: black;
  --theme-inverted-color:white;
  --theme-inverted-shadow: 0 4px 30px rgba(255, 255, 255, 0.243);
  background-color: var(--theme-color)
}


