.mainContainer{
    margin-right: 10px;
}

.subContainer{
    display: flex;
    align-items: center;

}

.recruitmentStatus_headerText{
    font-size: small;
    font-weight: 700;
}

.recruitmentStatus_subText{
    font-size: small;
}

.statusIndicator_red{
    background-color: rgb(255, 0, 0);
    width: 9px;
    height: 9px;
    border-radius: 100%;
    margin-right: 5px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    box-shadow:  0 0 15px 1px rgb(255, 0, 0);
}
.statusIndicator_green{
    background-color: rgb(0, 255, 0);
    width: 9px;
    height: 9px;
    border-radius: 100%;
    margin-right: 5px;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    box-shadow:  0 0 15px 1px rgb(0, 255, 0);
}

@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
  }